* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  text-align: center;
}

.header {
  margin: 0.5em;
  /*   width: 160px; */
}

.link {
  display: block;
  width: 500px;
  height: 30px;
  text-decoration: none;
  background-color: #e7a01c;
  border-radius: 20px;
}

h1 {
  position: relative;
  top: 120px;
}

.text {
  padding-top: 55px;
}

.cards {
  margin: 0.5em;
  width: calc(33.33vw - 1.2em);
  height: calc(33.33vh - 1em);
  display: inline-block;
  background-color: #e7a01c;
  border-radius: 20px;
}

.cards:hover {
  box-shadow: 10px 5px 5px black;
  transition: 0.7s;
}

.picture {
  width: 140px;
  height: 80px;
  /* ↓↓↓ Нужны ли эти значения ??? ↓↓↓/
  /*   display: block;
  margin: 0 auto; */
}